In [ ]:
"""
Get articles/texts, and filter only sentences with white-listed vocab OR named entities.

Contents:
-load packages
-create helper functions
-data intialization from csv file of words &
 extend vocab set
-build data structure to house info moving forward
-write to .json formats
-read from existing .json formats
-get white-listed of words and inflections
-scrape journale en francais facile
"""

In [1]:
import bs4, requests, sys, codecs, urllib.request, re
from bs4 import SoupStrainer
from bs4.element import Comment
import random
import string
import json
import pandas as pd
import os
from os import listdir
from os.path import isfile, join
import mlconjug3
import sklearn
import goslate
from nltk.tokenize import word_tokenize, sent_tokenize
import pprint
pp = pprint.PrettyPrinter()
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 0)
import mitosheet

In [2]:
def add_noun(add_word):

    if add_word[len(add_word)-1] != 's' and add_word[len(add_word)-1] != 'x':

        out_word = add_word + 's'

        return out_word
    else:
        return add_word

In [3]:
##METHODS

def tag_visible(element):
    if element.parent.name in ['style', 'script', 'head', 'title', 'meta', '[document]']:
        return False
    if isinstance(element, Comment):
        return False
    return True


def text_from_html(body):
    soup = bs4.BeautifulSoup(body, 'html.parser')
    texts = soup.findAll(text=True)
    visible_texts = filter(tag_visible, texts)  
    return u" ".join(t.strip() for t in visible_texts)



user_agent = 'Mozilla/5.0 (Windows NT 6.3; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0'
headers={'User-Agent':user_agent,}

In [4]:
def get_known(unknown_list):
    
    count_got = 0
    known_list = []
    count_checked = 0
    for word in unknown_list:
        count_checked += 1
        decision = str(input(word+"\nKnown =k"))
        if decision =='k':
            known_list.append(word)
            count_got +=1
            print("got "+str(count_got))
        elif decision=='q':
            break
        print(str(len(unknown_list)-count_checked)+' remaining')
    return known_list

In [4]:
def review_out(out_dict,prev_learned,eb_unk_in,eb_unk_m_in,examples):
    """
    out_dict = out
    prev_learned = eb_learned
    eb_unk_in =  eb_unk
    eb_unk_m_in = eb_unk_morph
    examples = eb_unk_examples
    
    decisions:
    k = word known, remove from eb_unk and eb_unk_morph
        and add to eb_learned
        
    m = remove morph from eb_unk and eb_unk_morph 
    
    a = add example to eb_unk_examples
    q = quit for day
    """
    for word in out_dict.keys():
        print("Lemma: "+word)
        print("Morph: "+str(out_dict[word]['morph']))
        
        if len(examples[word])>0:
            print("Previous examples: ")
            for sent in examples[word]:
                print(" - "+sent)
                    
        print("New examples: ")
        
        for sent in out_dict[word]['sents']:
            if sent not in examples[word]:
                print(sent)
                decision = str(input("options : k,m,a,q"))
                if decision =='k':
                    try:
                        examples[word].append(sent) #by default adds examples
                        prev_learned[word] = eb_unk_in[word].copy()
                        del eb_unk_in[word] #remove lemma

                        i = 0
                        while i < len(eb_unk_m_in):

                            if eb_unk_m_in[list(eb_unk_m_in)[i]] == word:
                               del eb_unk_m_in[list(eb_unk_m_in)[i]]
                            else:
                                i +=1
                    except:
                        pass

                if decision =='m':
                    morph = str(input("which morph:"))
                    try:
                        del eb_unk_m_in[morph]
                        eb_unk_in[word].remove(morph) 
                    except:
                        pass
                if decision =='a':
                    try:
                        examples[word].append(sent)
                    except:
                        pass
                if decision =='q':
                    break

In [5]:
def how_to_add(word):
    """
    p = plain, add without conjurgating or changing
    c = conjugate as normal verb
    x = noun that adds x when plural
    s = noun that add s when plural
    iv = inner verb. There is a verb in the expression that should be 
        conjurgated
    """
    extras_morphs = []
    extras_morphs.append(word)
    
    
    gs = goslate.Goslate()

    default_conjugator = mlconjug3.Conjugator(language='fr')

    decision = str(input(word+"\nc\nx\ns\niv"))
    
    if decision == 'c':

        try:
            temp = []
            test_verb = default_conjugator.conjugate(word)
            all_conjugated_forms = test_verb.iterate()
            for item in all_conjugated_forms:
                if item not in temp:
                    temp.append(item[len(item)-1])
            extras_morphs.extend(list(set(temp)))
        except:
            pass
    elif decision == 'x':
        extras_morphs.append(lemma+'x')
    elif decision == 's':
        extras_morphs.append(lemma+'s')
    elif decision == 'iv':
        morph = str(input("which morph:"))
        

        temp = []
        test_verb = default_conjugator.conjugate(morph)
        all_conjugated_forms = test_verb.iterate()
        for item in all_conjugated_forms:
            if item not in temp:
                temp.append(item[len(item)-1])

        for variant in list(set(temp)):
            if variant is not None:
                new_word = word.replace(morph,variant)
                extras_morphs.append(new_word)

    return extras_morphs

In [6]:
"""
For eb_unk words: search through all articles, return 
sentences containing any words for unknown vocabulary. 

return dict object, key is lemma, then values are morphs found
and array of examples. 
"""

def find_unks(webpages,eb_unk_mo,prev_examples):
    
    output = {}
    for webpage in webpages:
    #try:

        request=urllib.request.Request(webpage,None,headers) #The assembled request
        response = urllib.request.urlopen(request)
        data = response.read()
        contents = text_from_html(data)
      
        contents_array = sent_tokenize(contents)
 
        for line in contents_array:
            tokenized = word_tokenize(line, language='french')
            for word in tokenized:
                if word.lower() in eb_unk_mo:
                    
                    if word.lower() in prev_examples:
                        if line not in prev_examples[word.lower()]:
                            if word.lower() not in output:
                                output[eb_unk_mo[word.lower()]] = {} #key will be lemma
                                output[eb_unk_mo[word.lower()]]['morph'] = []
                                output[eb_unk_mo[word.lower()]]['sents'] = []

                            output[eb_unk_mo[word.lower()]]['morph'].append(word.lower())
                            output[eb_unk_mo[word.lower()]]['sents'].append(line)
                    
    return output
    #except:
    #    pass

In [7]:
def filter_text(webpage,text=None,print_word_lvl=False):


    #try:
    if text is None:
        request=urllib.request.Request(webpage,None,headers) #The assembled request
        response = urllib.request.urlopen(request)
        data = response.read()
        contents = text_from_html(data)
    else:
        contents = webpage

    line_array = []
    percent_array = []
    contents_array = sent_tokenize(contents)

    disallowed_words = set()
    total_words = 0
    unknown_words = 0
    lines = []
    unknowns = []
    
    for line in contents_array:
        
        line_total = 0
        line_unks = 0
        tokenized = word_tokenize(line, language='french')

        unk_str = ""
        for word in tokenized:
            total_words +=1
            line_total +=1

            if not (bool(re.search("[0-9]", word)) or\
                    bool(re.search("[A-Z]", word)) or\
                    bool(re.search("[.,\/#!$%\^&\*;:{}=\-_`~()«»]", word)) or\
                    word.lower() in vocab['white_listed']):
                if not ((word.lower() in vocab['white_listed']) or (word.lower() in vocab['black_listed'])):
                    unk_str += '"'+word.lower()+'"'+", "

                disallowed_words.add(word.lower())
                unknown_words +=1
                line_unks +=1


        line_array.append(line)
        line_percent = (line_total-line_unks)/line_total
        percent_array.append(line_percent)

        if len(unk_str)>0:
            unk_str = unk_str[0:len(unk_str)-1]

        unknowns.append(unk_str)

    if print_word_lvl and total_words>0:
        print("word-level % known = "+str((1-(unknown_words/total_words))*100))

    return_pd = pd.DataFrame(list(zip(line_array,percent_array,unknowns)))
    return_pd.columns = ["line","line_percent","unk_words"]

    with open(path+'unknown_french_dad_list.txt',"w") as outfile:
        outfile.write(str(list(disallowed_words)))

    return return_pd
    
    #except:
    #    pass

##Dad section

In [8]:
path = "/Users/elyebliss/Desktop/Vocabulary/vocab_dfs/"
source_file = "french_dad.json"

In [17]:
            
##Journal en francais facile:
print("Checking Journal en francais facile")
parser = 'html.parser'  # or 'lxml' (preferred) or 'html5lib', if installed
#request=urllib.request.Request('https://savoirs.rfi.fr/en/apprendre-enseigner/langue-fran%C3%A7aise/journal-en-francais-facile',None,headers)
request=urllib.request.Request('https://francaisfacile.rfi.fr/fr/podcasts/journal-en-fran%c3%a7ais-facile/',None,headers)

resp = urllib.request.urlopen(request)
soup = bs4.BeautifulSoup(resp, parser, from_encoding=resp.info().get_param('charset'))


pages = []
for link in soup.find_all('a', href=True):
    if '/fr/podcasts/le-journal-en-fran%C3%A7ais-facile/' in str(link['href']):
        #print(str(link['href']))
        str_page = 'https://savoirs.rfi.fr/'+str(link['href'])
        #str_page = 'https://savoirs.rfi.fr/en/apprendre-enseigner/langue-francaise/journal-en-francais-facile-'+str(re.search(r"[0-9]{8}.*",str(link['href'])).group(0))
        if str_page not in pages:
            pages.append(str_page)

pages

Checking Journal en francais facile

['https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221118-la-cor%C3%A9e-du-nord-tire-un-missile-la-cop27-black-ad-remporte-le-prix-d%C3%A9couvertes-rfi',
 'https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221117-600-prisonniers-lib%C3%A9r%C3%A9s-en-birmanie-l-ukraine-bombard%C3%A9e-que-fait-emmanuel-macron-%C3%A0-bangkok',
 'https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221116-la-fus%C3%A9e-artemis-d%C3%A9colle-lula-%C3%A0-la-cop27-un-missile-tombe-sur-la-pologne',
 'https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221115-la-russie-bombarde-l-ukraine-8-milliards-d-habitants-sur-terre-donald-trump-de-retour',
 'https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221114-joe-biden-et-xi-jinping-%C3%A0-bali-attentat-%C3%A0-istanbul-emmanuel-macron-veut-sanctionner-l-iran',
 'https://savoirs.rfi.fr//fr/podcasts/le-journal-en-fran%C3%A7ais-facile/20221111-l-ocean-viking-est-arriv%C3%A9-%C3%A0-toulon-la-cop-27-sadio-man%C3%A9-ira-au-qatar']

In [19]:
with open(path+"text_input_dad_fr.txt","r") as infile:
    textfile = infile.read()
filtered_art = filter_text(textfile,text= True)
#display(filtered_art)

In [29]:
all_unks = set()

with open(path+'unknown_french_dad_list.txt',"r") as input_file:
    new_words = input_file.read()
    new_words = re.sub('\n',"",new_words)
    new_words = new_words.split(',')
    new_words = [re.sub("^['|\"]|^\['|['|\"]$|'\]$|\[","",line.strip().lower()) for line in new_words] #update regex
    for word in new_words:
        all_unks.add(word)
len(all_unks)

In [45]:
all_unks=list(all_unks)
unk_df = pd.DataFrame(all_unks)
unk_df.columns = ['word']
unk_df['status'] = pd.Series(['' for word in all_unks])

In [48]:
mitosheet.sheet(unk_df, analysis_to_replay="id-gnhspsqdqa")

MitoWidget(analysis_data_json='{"analysisName": "id-gnhspsqdqa", "analysisToReplay": null, "code": [], "stepSu…

In [56]:
add_words = list(unk_df.word[unk_df['status']=='k'])
print(len(add_words))
for word in add_words:
    vocab['white_listed'].add(word)

['financement',
 'go',
 "d'entrer",
 'délégation',
 'concernant',
 'textes',
 'déstabilisation',
 'japonais',
 'tunisien',
 'tunisienne',
 'quatrième',
 "s'était",
 'conscient',
 'comité',
 'coréens',
 'délégués',
 "j'ai",
 'end',
 '"\'s',
 'coréen',
 'supérieure',
 'fossile']

In [58]:
filtered_art = filter_text(textfile,text= True)

In [61]:
filtered_art['theme']=['' for line in filtered_art.line]
mitosheet.sheet(filtered_art)

MitoWidget(analysis_data_json='{"analysisName": "id-djkrvxuaoi", "analysisToReplay": null, "code": [], "stepSu…

In [71]:
themes = set(filtered_art.theme[filtered_art['theme']!=''])
output = pd.DataFrame(columns=['theme','line'])
for theme in themes:
    temp = filtered_art[['theme','line']][filtered_art['theme']==theme]
    output = pd.concat([output,temp])
with open(path+'dad_article.csv','w') as outfile:
    output.to_csv(outfile,encoding='utf-8')

In [72]:
#write to .json formats
df = vocab
df['white_listed'] = list(df['white_listed'])
df['black_listed'] = list(df['black_listed'])
with open(path+source_file, "w") as outfile:
    json.dump(df,outfile)
print(len(vocab['white_listed']))

13374

In [73]:
#read from existing .json formats
with open(path+source_file, "r") as path_in:
    vocab = json.loads(path_in.read())
vocab['white_listed'] = set(vocab['white_listed'])
vocab['black_listed'] = set(vocab['black_listed'])
print(len(vocab['white_listed']))

13374

In [27]:
add_to_white = []

for word in add_to_white:
    vocab['white_listed'].add(word)

In [26]:
remove_from_white = []

for word in remove_from_white:
    if word in vocab['white_listed']:
        vocab['white_listed'].remove(word)

In [147]:
#read from existing .json formats
with open(path+source_file, "r") as path_in:
    vocab = json.loads(path_in.read())
vocab['white_listed'] = set(vocab['white_listed'])
vocab['black_listed'] = set(vocab['black_listed'])
print(len(vocab['white_listed']))

13352

In [24]:
with open(path+'unknown_french_dad_list.txt',"r") as input_file:
    new_words = input_file.read()
    new_words = re.sub('\n',"",new_words)
    new_words = new_words.split(',')
    new_words = [re.sub("^['|\"]|^\['|['|\"]$|'\]$","",line.strip().lower()) for line in new_words] #update regex
#new_words
print(len(new_words))
known_manual = get_known(new_words)

169
["d'avion
Known =kk
got 1
168 remaining
envahir
Known =k
167 remaining
explosé
Known =kk
got 2
166 remaining
informations
Known =k
165 remaining
concernent
Known =kk
got 3
164 remaining
manifesté
Known =kk
got 4
163 remaining
neutre
Known =k
162 remaining
d'au
Known =kk
got 5
161 remaining
retardée
Known =k
160 remaining
l'échec
Known =k
159 remaining
rescapés
Known =k
158 remaining
l'interdit
Known =k
157 remaining
d'activité
Known =kk
got 6
156 remaining
pertes
Known =k
155 remaining
exceptionnel
Known =kk
got 7
154 remaining
recouvert
Known =k
153 remaining
l'agriculture
Known =kk
got 8
152 remaining
producteurs
Known =kk
got 9
151 remaining
inextricables
Known =k
150 remaining
causé
Known =k
149 remaining
cinquantaine
Known =k
148 remaining
urgent
Known =kk
got 10
147 remaining
drapeau
Known =k
146 remaining
d'entamer
Known =k
145 remaining
transport
Known =kk
got 11
144 remaining
blocs
Known =k
143 remaining
spatial
Known =kk
got 12
142 remaining
épaves
Known =k
141 remaining
représentent
Known =kk
got 13
140 remaining
décennies
Known =k
139 remaining
accoste
Known =k
138 remaining
décarbonation
Known =kk
got 14
137 remaining
d'hommes
Known =kk
got 15
136 remaining
cadre
Known =k
135 remaining
telle
Known =kk
got 16
134 remaining
directrice
Known =kk
got 17
133 remaining
transférés
Known =kk
got 18
132 remaining
l'agence
Known =kk
got 19
131 remaining
otages
Known =k
130 remaining
techniques
Known =kk
got 20
129 remaining
triangle
Known =kk
got 21
128 remaining
tremblé
Known =k
127 remaining
crises
Known =kk
got 22
126 remaining
réclame
Known =kk
got 23
125 remaining
initiative
Known =kk
got 24
124 remaining
sélectionneur
Known =kk
got 25
123 remaining
nez
Known =k
122 remaining
transportait
Known =kk
got 26
121 remaining
secourir
Known =k
120 remaining
équipes
Known =k
119 remaining
investissements
Known =kk
got 27
118 remaining
mosquée
Known =k
117 remaining
sauve
Known =k
116 remaining
industriels
Known =kk
got 28
115 remaining
qu'un
Known =kk
got 29
114 remaining
décollage
Known =k
113 remaining
environ
Known =kk
got 30
112 remaining
prioritaires
Known =kk
got 31
111 remaining
lors
Known =k
110 remaining
d'accueil
Known =k
109 remaining
d'accélérer
Known =k
108 remaining
technique
Known =kk
got 32
107 remaining
prière
Known =k
106 remaining
sombres
Known =k
105 remaining
l'accident
Known =kk
got 33
104 remaining
importante
Known =kk
got 34
103 remaining
dangereuses
Known =kk
got 35
102 remaining
s'arrête
Known =kk
got 36
101 remaining
convoqué
Known =k
100 remaining
financière
Known =kk
got 37
99 remaining
orienter
Known =kk
got 38
98 remaining
submerger
Known =kk
got 39
97 remaining
profondeur
Known =k
96 remaining
technologies
Known =kk
got 40
95 remaining
récupérer
Known =kk
got 41
94 remaining
sauvées
Known =k
93 remaining
tsunami
Known =kk
got 42
92 remaining
dispersé
Known =kk
got 43
91 remaining
l'attaquant
Known =k
90 remaining
d'attente
Known =k
89 remaining
accoster
Known =k
88 remaining
tuiles
Known =k
87 remaining
séisme
Known =k
86 remaining
tensions
Known =kk
got 44
85 remaining
réalisation
Known =kk
got 45
84 remaining
recouvraient
Known =k
83 remaining
d'états
Known =k
82 remaining
terrain
Known =k
81 remaining
s'organisent
Known =kk
got 46
80 remaining
d'avions
Known =kk
got 47
79 remaining
routier
Known =k
78 remaining
d'émissions
Known =kk
got 48
77 remaining
wiltude
Known =k
76 remaining
d'initiative
Known =kk
got 49
75 remaining
débris
Known =k
74 remaining
provenant
Known =k
73 remaining
secteurs
Known =k
72 remaining
renforcer
Known =kk
got 50
71 remaining
pollution
Known =kk
got 51
70 remaining
réduire
Known =k
69 remaining
l'élaboration
Known =kk
got 52
68 remaining
situé
Known =kk
got 53
67 remaining
d'amertume
Known =k
66 remaining
soulagement
Known =k
65 remaining
déclenchée
Known =k
64 remaining
transition
Known =kk
got 54
63 remaining
suprême
Known =kk
got 55
62 remaining
navette
Known =k
61 remaining
désigne
Known =k
60 remaining
débarque
Known =k
59 remaining
enfoui
Known =k
58 remaining
l'ensemble
Known =k
57 remaining
formule
Known =kk
got 56
56 remaining
polluer
Known =kk
got 57
55 remaining
d'activités
Known =kk
got 58
54 remaining
symbolique
Known =kk
got 59
53 remaining
d'existence
Known =kk
got 60
52 remaining
soulagés
Known =k
51 remaining
incertain
Known =kk
got 61
50 remaining
pollueurs
Known =k
49 remaining
coincés
Known =k
48 remaining
répartir
Known =k
47 remaining
débarquer
Known =k
46 remaining
d'environ
Known =kk
got 62
45 remaining
l'assistance
Known =kk
got 63
44 remaining
moitié
Known =k
43 remaining
trouvaille
Known =k
42 remaining
inconnu
Known =k
41 remaining
panneau
Known =k
40 remaining
l'électricité
Known =kk
got 64
39 remaining
janvier
Known =kk
got 65
38 remaining
thème
Known =kk
got 66
37 remaining
choix
Known =k
36 remaining
choquée
Known =k
35 remaining
tremblement
Known =k
34 remaining
navire
Known =k
33 remaining
d'arriver
Known =kk
got 67
32 remaining
escale
Known =k
31 remaining
flotte
Known =k
30 remaining
l'acier
Known =k
29 remaining
l'instrumentalisation
Known =kk
got 68
28 remaining
bravé
Known =k
27 remaining
véhicules
Known =kk
got 69
26 remaining
communes
Known =kk
got 70
25 remaining
l'arrivée
Known =k
24 remaining
dirigeants
Known =k
23 remaining
passagers
Known =kk
got 71
22 remaining
discussions
Known =kk
got 72
21 remaining
vagues
Known =k
20 remaining
avion
Known =kk
got 73
19 remaining
l'océan
Known =kk
got 74
18 remaining
administratives
Known =kk
got 75
17 remaining
davantage
Known =k
16 remaining
l'hydrogène
Known =k
15 remaining
guide
Known =k
14 remaining
plongeurs
Known =k
13 remaining
démarches
Known =k
12 remaining
n'importe
Known =k
11 remaining
l'actualité
Known =k
10 remaining
mécanismes
Known =k
9 remaining
propres
Known =k
8 remaining
trace
Known =k
7 remaining
l'explosion
Known =kk
got 76
6 remaining
calvaire
Known =k
5 remaining
débarqués
Known =k
4 remaining
renforcement
Known =k
3 remaining
produit
Known =k
2 remaining
polluants
Known =k
1 remaining
européens
Known =kk
got 77
0 remaining

In [28]:
print("% known")
print(str(100*len(filtered_art[filtered_art.knowns != "..."])/len(filtered_art))+"%")
print(str(len(filtered_art[filtered_art.knowns != "..."]))+" lines")

% known
30.0%
30 lines

In [29]:
with open(path+'dad_article.csv','w') as outfile:
    filtered_art.to_csv(outfile,encoding='utf-8')

##Filter for lessons

In [242]:
with open(path+"text_input_dad_fr.txt","r") as infile:
    textfile = infile.read()
filtered_art = filter_text(textfile,text= True)
#display(filtered_art)

In [241]:
def line_decider(data,output_df,new_words):
    """
 
    y = add line
    if y, then give a theme
    
    """
    for i in range(0,len(data)):
        display(data.loc[[i]])
        
        add_words = str(input("add words:"))
        if len(add_words)>0:
            for word in add_words.split(','):
                word = word.replace(' ','')
                word = word.replace('"','')
                new_words.append(word)
                
        add_line = str(input("add line?"))
    
        if add_line=='y':
            add_theme = str(input("add theme:"))
            
            temp_df = pd.DataFrame(list(zip(add_theme,data.line.iloc[i])),columns=['theme','line'])
            output_df = pd.concat([output_df,temp_df])

In [235]:
new_words

['tests', 'élémentaire', 'bilingues']

In [243]:
new_words = []
output_df = pd.DataFrame(columns=['theme','line'])
line_decider(filtered_art,output_df,new_words)

,line,line_percent,unk_words
0,"La Corée du Nord tire un missile, missile qui est tombé au large du Japon.",1.0,

add words:
add line?y
add theme:Korea

,line,line_percent,unk_words
1,La COP27 la conférence sur le climat se donne un jour de plus pour réfléchir et espérer trouver un accord.,1.0,

add words:y
add line?COP

                                                  line  line_percent unk_words
2  Au sommaire aussi le 18ᵉ sommet de la Francophonie.  1.0

add words:
add line?y
add theme:Franco

,line,line_percent,unk_words
3,"Nous serons en direct en Tunisie, à Djerba où notre envoyée spéciale nous attend.",1.0,

add words:
add line?y
add theme:Tunisia

,line,line_percent,unk_words
4,"Et puis le prix RFI Découverte, c'est de la musique revient cette année à Black AD C'est une chanteuse malienne que nous entendrons à la fin du journal.",0.966667,"""malienne"","

add words:"malienne"
add line?

                                          line  line_percent unk_words
5  Voilà pour les titres, Soyez les bienvenus.  1.0

add words:
add line?

                                   line  line_percent unk_words
6  Et elle a une de ce journal, Adrien.  1.0

add words:
add line?

,line,line_percent,unk_words
7,La Corée du Nord tire de plus en plus souvent des missiles vers le Japon.,1.0,

add words:
add line?y
add theme:Korea

,line,line_percent,unk_words
8,"Et le dernier en date, Mayeul, a été lancé de Corée du Nord vers 10 h 15 heure locale.",0.954545,"""h"","

add words:h
add line?y
add theme:Korea

,line,line_percent,unk_words
9,"Après avoir parcouru 1000 kilomètres dans les airs, le missile est tombé à environ 200 kilomètres des côtes japonaises.",0.857143,"""parcouru"", ""airs"", ""japonaises"","

add words:"japonaises"
add line?

,line,line_percent,unk_words
10,Colère et Inquiétude des autorités japonaises.,0.857143,"""japonaises"","

add words:
add line?y
add theme:Korea

,line,line_percent,unk_words
11,"Le premier ministre japonais Fumio Kishi était à Bangkok, au sommet de l'APEC, lorsqu'il a appris la nouvelle.",0.904762,"""japonais"", ""lorsqu'il"","

add words:
add line?y
add theme:Korea

,line,line_percent,unk_words
12,"À ce sommet, cette réunion, plusieurs dirigeants sont présents, dont Kamala Harris, Kamala Harris est la vice présidente américaine et elle apporte son soutien au Japon.",0.903226,"""dirigeants"", ""vice"", ""soutien"","

add words:"vice"
add line?

,line,line_percent,unk_words
13,"Écouter le récit de notre correspondante en Thaïlande, Carole Isoux.",0.916667,"""récit"","

add words:
add line?

,line,line_percent,unk_words
14,Cessez ces actions irréfléchies de déstabilisation.,0.714286,"""irréfléchies"", ""déstabilisation"","

add words:
add line?

,line,line_percent,unk_words
15,"C'est le message de Kamala Harris présente au sommet de l'Asie Pacifique, un missile inter balistique lancé par la Corée du Nord, a atterri ce matin dans les eaux territoriales japonaises.",0.882353,"""inter"", ""balistique"", ""atterri"", ""japonaises"","

add words:
add line?

,line,line_percent,unk_words
16,Un missile dont la puissance serait capable d'atteindre les côtes américaines a prévenu le gouvernement japonais.,0.764706,"""puissance"", ""d'atteindre"", ""prévenu"", ""japonais"","

add words:
add line?

,line,line_percent,unk_words
17,"Aussitôt, Kamala Harris a convoqué une réunion d'urgence à laquelle ont participé les dirigeants du Japon, de la Corée du Sud, de l'Australie, de la Nouvelle-Zélande et du Canada afin de condamner cette attaque qui serait peut-être une réponse de la Corée du Nord.",0.897959,"""convoqué"", ""participé"", ""dirigeants"", ""afin"", ""condamner"","

add words:"condamner"
add line?y
add theme:Korea

,line,line_percent,unk_words
18,"Après une réunion la semaine dernière à Phnom Penh entre le président américain Joe Biden et les dirigeants japonais et sud coréens, à l'issue de laquelle les trois chefs d'Etat ont averti la Corée du Nord de conséquence si elle venait à réitérer les essais nucléaires.",0.854167,"""dirigeants"", ""japonais"", ""coréens"", ""l'issue"", ""averti"", ""réitérer"", ""essais"","

add words:
add line?

,line,line_percent,unk_words
19,"La Chine, vers qui tous les regards se tournent désormais, est restée discrète, lors de la réunion du G20, il y a quelques jours à Bali Joe Biden s'était montré confiant dans le fait que la Chine ne souhaitait pas voir d'escalade dans le dossier nord coréen.",0.846154,"""désormais"", ""discrète"", ""lors"", ""s'était"", ""confiant"", ""d'escalade"", ""dossier"", ""coréen"","

add words:
add line?

                         line  line_percent unk_words
20  Carole Isoux Bangkok RFI.  1.0

add words:
add line?

,line,line_percent,unk_words
21,Et un jour de plus pour trouver un accord à la COP 27.,1.0,

add words:
add line?

,line,line_percent,unk_words
22,La Conférence mondiale sur le climat qui se déroule en ce moment en Egypte est prolongée d'un jour.,0.894737,"""déroule"", ""prolongée"","

add words:
add line?

,line,line_percent,unk_words
23,"Elle devait se terminer aujourd'hui vendredi, mais finalement elle se terminera demain samedi.",0.933333,"""finalement"","

add words:"finalement"
add line?y
add theme:COP

,line,line_percent,unk_words
24,"Le temps, nous dit on, de passer à la vitesse supérieure, dit le président de la COP.",0.904762,"""vitesse"", ""supérieure"","

add words:
add line?

,line,line_percent,unk_words
25,Autrement dit d'aller plus vite pour tenter de trouver un accord qui aille à tout le monde.,1.0,

add words:
add line?y
add theme:COP

,line,line_percent,unk_words
26,"Parmi les absents remarqués à cette conférence sur le climat, le Japon, troisième puissance mondiale économique.",0.894737,"""absents"", ""puissance"","

add words:"absents", "puissance"
add line?y
add theme:COP

,line,line_percent,unk_words
27,"À Charm el-Cheikh, là où se déroule la COP, le Japon s'est vu décerner le prix « fossile » c'est un prix décerné par des ONG pour se moquer du Japon, car le pays ne lutte pas assez contre le réchauffement climatique.",0.869565,"""déroule"", ""décerner"", ""fossile"", ""décerné"", ""moquer"", ""lutte"","

add words:
add line?

                                      line  line_percent unk_words
28  Correspondance à Tokyo de Bruno Duval.  1.0

add words:
add line?

,line,line_percent,unk_words
29,Le Premier ministre Fumio Kishida n'a pas jugé bon d'assister à la COP27.,0.9375,"""d'assister"","

add words:
add line?

,line,line_percent,unk_words
30,"Pour les réseaux sociaux, cela illustre, je cite « la nonchalance, voire le jemenfoutisme » du Japon concernant l'enjeu climatique.",0.708333,"""réseaux"", ""illustre"", ""nonchalance"", ""voire"", ""jemenfoutisme"", ""concernant"", ""l'enjeu"","

add words:
add line?

,line,line_percent,unk_words
31,"Ces passants, en tout cas, n'apprécient pas.",0.8,"""passants"", ""n'apprécient"","

add words:
add line?

        line  line_percent unk_words
32  arrière.  1.0

add words:
add line?

,line,line_percent,unk_words
33,« La planète brûle et notre pays reste les bras ballants.,0.833333,"""brûle"", ""ballants"","

add words:
add line?

                            line  line_percent    unk_words
34  Franchement, c'est affolant.  0.8           "affolant",

add words:
add line?

             line  line_percent unk_words
35  »\n\nquitter.  1.0

add words:
add line?

,line,line_percent,unk_words
36,"« Kishida zappe la COP alors qu'il dirige le cinquième pays le plus émetteurs de CO2, les bras m'en tombent.",0.863636,"""zappe"", ""émetteurs"", ""m'en"","

add words:
add line?

,line,line_percent,unk_words
37,Cela renvoie au Monde une image terrible.,0.75,"""renvoie"", ""terrible"","

add words:
add line?

,line,line_percent,unk_words
38,"Le Japon fuit ses responsabilités ou pire, n'en est pas conscient.",0.692308,"""fuit"", ""pire"", ""n'en"", ""conscient"","

add words:
add line?

,line,line_percent,unk_words
39,»\n\n« Ce réchauffement climatique touche la vie des gens si concrètement qu'on ne peut plus se voiler la face?,0.904762,"""concrètement"", ""voiler"","

add words:
add line?

,line,line_percent,unk_words
40,"Surtout qu' année après année, la situation s'aggrave.",0.909091,"""s'aggrave"","

add words:
add line?

,line,line_percent,unk_words
41,"»\n\nEn effet, à Tokyo, désormais, en août, il ne fait plus 35 mais 40 degrés à l'ombre.",0.913043,"""désormais"", ""l'ombre"","

add words:
add line?

,line,line_percent,unk_words
42,"Chaque été, un millier de Japonais meurent d' hyperthermie.",0.833333,"""millier"", ""hyperthermie"","

add words:
add line?

                                       line  line_percent unk_words
43  C'est trois fois plus qu'il y a 20 ans.  1.0

add words:
add line?

,line,line_percent,unk_words
44,Les plages des 6852 îles que compte l'archipel se réduisent à vue d'oeil en raison de l'érosion.,0.777778,"""l'archipel"", ""réduisent"", ""d'oeil"", ""l'érosion"","

add words:
add line?

,line,line_percent,unk_words
45,"Et selon les experts, c'est l'élévation de la température des océans qui expliquent l'augmentation du nombre et de la violence des typhons qui, au Japon comme ailleurs en Asie, sont de plus en plus dévastateurs, donc meurtriers.",0.857143,"""l'élévation"", ""océans"", ""l'augmentation"", ""typhons"", ""dévastateurs"", ""meurtriers"","

add words:"l'élévation", "océans", "l'augmentation", "typhons", "dévastateurs"
add line?y
add theme:COP

                       line  line_percent unk_words
46  Bruno Duval, Tokyo RFI.  1.0

add words:
add line?

,line,line_percent,unk_words
47,À l'écoute du journal en français faciles RFI à Paris 17 h 05.\n\nfacile.,0.933333,"""h"","

add words:
add line?

       line  line_percent unk_words
48  facile.  1.0

add words:
add line?

,line,line_percent,unk_words
49,Le 18ᵉ sommet de la Francophonie commence demain en Tunisie.,1.0,

add words:
add line?y
add theme:Franco

,line,line_percent,unk_words
50,Près de 30 chefs d'Etat et de gouvernement sont attendus ce week end sur l'île de Djerba.,0.888889,"""week"", ""end"","

add words:"week", "end"
add line?y
add theme:Franco

,line,line_percent,unk_words
51,Ils ont tous en commun de parler la langue française.,0.909091,"""commun"","

add words:"commun"
add line?y
add theme:Franco

,line,line_percent,unk_words
52,"Le français, quatrième langue au monde la plus parlée et la plus utilisée sur Internet.",0.882353,"""quatrième"", ""utilisée"","

add words:"quatrième", "utilisée"
add line?y
add theme:Franco

,line,line_percent,unk_words
53,"Mais avant que ne débute le sommet, nous rejoignons notre envoyée spécial Clémentine Pawlotski en direct de Djerba.",0.95,"""débute"","

add words:
add line?

,line,line_percent,unk_words
54,"Clémentine, les discussions ont déjà débuté aujourd'hui et deux textes sont d'ailleurs actuellement à l'étude Clémentine.",0.833333,"""débuté"", ""textes"", ""l'étude"","

add words:
add line?

,line,line_percent,unk_words
55,"Oui Adrien, ce sont des discussions entre ministres et délégués de la francophonie.",0.866667,"""délégués"", ""francophonie"","

add words:
add line?

,line,line_percent,unk_words
56,"Je précise que les discussions entre chefs d'État et de gouvernement de la Francophonie, elles, ne débuteront que demain.",0.954545,"""débuteront"","

add words:
add line?

,line,line_percent,unk_words
57,"Alors, les deux textes à l'étude portent pour le premier sur la déclaration de Djerba.",0.882353,"""textes"", ""l'étude"","

add words:
add line?

,line,line_percent,unk_words
58,Cela fait plusieurs mois qu'un comité de rédaction travaille dessus.,0.727273,"""comité"", ""rédaction"", ""dessus"","

add words:
add line?

,line,line_percent,unk_words
59,"Et puis le deuxième texte porte, lui, sur la résolution des situations de crises et de conflits dans l'espace francophone.",0.956522,"""francophone"","

add words:
add line?

,line,line_percent,unk_words
60,"Il est notamment question, Adrien, de la situation sécuritaire au Sahel ou encore de la crise entre la République démocratique du Congo et le Rwanda.",0.928571,"""sécuritaire"", ""démocratique"","

add words:
add line?

,line,line_percent,unk_words
61,"Alors, cette conférence ministérielle, elle se poursuit cet après-midi selon nos informations, le pays qui assure actuellement la présidence de l'Organisation de la Francophonie, l'Arménie, devait faire le bilan des engagements pris lors du dernier sommet, celui organisé à Erevan en 2018.",0.918367,"""ministérielle"", ""présidence"", ""bilan"", ""lors"","

add words:
add line?

,line,line_percent,unk_words
62,"Et puis, au delà du volet politique, les ministres et chefs de délégation de la Francophonie doivent aussi se pencher sur des questions plus techniques, des questions plus logistiques liées au fonctionnement même de l'organisation ou encore à son financement.",0.840909,"""delà"", ""volet"", ""délégation"", ""pencher"", ""liées"", ""fonctionnement"", ""financement"","

add words:
add line?

,line,line_percent,unk_words
63,"Clémentine Pawlotski en direct de Tunisie pour suivre le Sommet de la Francophonie qui s'achèvera dimanche soir, à noter qu'aujourd'hui la police tunisienne a dispersé des manifestants juste avant ce sommet de la francophonie.",0.888889,"""s'achèvera"", ""qu'aujourd'hui"", ""tunisienne"", ""francophonie"","

add words:
add line?

,line,line_percent,unk_words
64,"Ces manifestants voulaient dénoncer la mauvaise gestion du gouvernement tunisien concernant les naufrages, les accidents en mer de bateaux remplis de migrants.",0.75,"""dénoncer"", ""gestion"", ""tunisien"", ""concernant"", ""naufrages"", ""remplis"","

add words:
add line?

,line,line_percent,unk_words
65,"Et justement, Adrien, une semaine après l'accueil du navire humanitaire l'Ocean Viking à Toulon, plus de la moitié des rescapés ne peuvent pas entrer en France.",0.866667,"""l'accueil"", ""navire"", ""moitié"", ""rescapés"","

add words:
add line?

,line,line_percent,unk_words
66,"Sur les 234 personnes secourues par le bateau ambulance en mer Méditerranée, 123 migrants, des hommes et femmes font l'objet de ce qu'on appelle un refus d'entrer sur le territoire français.",0.882353,"""secourues"", ""ambulance"", ""refus"", ""d'entrer"","

add words:
add line?

                                        line  line_percent unk_words
67  Et puis refermons ce journal en musique.  1.0

add words:
add line?

,line,line_percent,unk_words
68,"Après délibération du jury, la chanteuse malienne Awa Diallo, dite Black AD remporte cette année le prix RFI Découverte.",0.863636,"""délibération"", ""malienne"", ""remporte"","

add words:
add line?

,line,line_percent,unk_words
69,"Son nom de scène traduit son combat pour la beauté africaine et juste après avoir remporté le prix, la chanteuse partage sa joie au micro de Sébastien Jedor\n\nAlors je me sens bien.",0.914286,"""traduit"", ""remporté"", ""partage"","

add words:
add line?

                        line  line_percent unk_words
70  Il y a beaucoup de joie.  1.0

add words:
add line?

,line,line_percent,unk_words
71,"En fait, j'ai même pas les mots pour exprimer ce que je ressens.",0.8,"""j'ai"", ""exprimer"", ""ressens"","

add words:
add line?

                               line  line_percent unk_words
72  Moi, je suis vraiment contente!  1.0

add words:
add line?

         line  line_percent unk_words
73  Et voilà.  1.0

add words:
add line?

                                  line  line_percent                unk_words
74  Ça représente vraiment une fierté.  0.666667      "représente", "fierté",

add words:
add line?

                            line  line_percent unk_words
75  Vraiment beaucoup de choses.  1.0

add words:
add line?

,line,line_percent,unk_words
76,"C'est une grande fierté, c'est tout ce que je peux dire.",0.923077,"""fierté"","

add words:
add line?

,line,line_percent,unk_words
77,"Merci à Dieu, merci à la famille, merci à RFI j'y croyais parce que faut pas désespérer.",0.954545,"""désespérer"","

add words:
add line?

                                            line  line_percent    unk_words
78  Moi je suis comme ça dans tous les concours.  0.9           "concours",

add words:
add line?

          line  line_percent unk_words
79  J'y crois.  1.0

add words:
add line?

,line,line_percent,unk_words
80,"Je crie grâce à Dieu, j'ai été la lauréate.",0.818182,"""j'ai"", ""lauréate"","

add words:
add line?

                                                  line  line_percent unk_words
81  J'aimerais tout simplement dire que je suis prête.  1.0

add words:
add line?

                                line  line_percent unk_words
82  Quel que soit ce qui va arriver.  1.0

add words:
add line?

,line,line_percent,unk_words
83,"Je suis prête pour les scènes, pour tout ce qui va avec.",1.0,

add words:
add line?

              line  line_percent unk_words
84  Je suis prête.  1.0

add words:
add line?

         line  line_percent    unk_words
85  Let's go!  0.5           "'s", "go",

add words:
add line?

              line  line_percent unk_words
86  Félicitations!  1.0

add words:
add line?

      line  line_percent unk_words
87  Bravo!  1.0

add words:
add line?

,line,line_percent,unk_words
88,à Black AD qui remporte le prix RFI découverte 2022.,0.909091,"""remporte"","

add words:
add line?

In [244]:
output_df

Empty DataFrame
Columns: [theme, line]
Index: []

In [344]:
with open(path+'unknown_french_dad_list.txt',"r") as input_file:
    new_words = input_file.read()
    new_words = re.sub('\n',"",new_words)
    new_words = new_words.split(',')
    new_words = [re.sub("^['|\"]|^\['|['|\"]$|'\]$","",line.strip().lower()) for line in new_words] #update regex
#new_words
print(len(new_words))
known_manual = get_known(new_words)

6
preuves
Known =k
5 remaining
provisions
Known =kk
got 1
4 remaining
raconté…
Known =k
3 remaining
aube
Known =k
2 remaining
inconnus
Known =k
1 remaining
éclaircir
Known =k
0 remaining

In [345]:
print(len(known_manual))
for word in known_manual:
    vocab['white_listed'].add(word)

1

In [346]:
#known_lines_only = list(set(list(filtered_art.knowns[filtered_art.knowns != "..."])))
#known_lines_only = sorted(known_lines_only,key=len)
known_lines_only = list(filtered_art.knowns[filtered_art.knowns != "..."])
known_lines_only = sorted(known_lines_only,key=len)

In [347]:
#export knowns: [filtered_art.knowns != "..."]
#known_list = list(filtered_art.knowns)
with open(path+"known_lines_dad_fr.txt","w") as outfile:
    for line in known_lines_only:
        outfile.write(line+"\n")

In [360]:
#write to .json formats
df = vocab
df['white_listed'] = list(df['white_listed'])
df['black_listed'] = list(df['black_listed'])
with open(path+source_file, "w") as outfile:
    json.dump(df,outfile)
print(len(vocab['white_listed']))

13199

In [361]:
#read from existing .json formats
with open(path+source_file, "r") as path_in:
    vocab = json.loads(path_in.read())
vocab['white_listed'] = set(vocab['white_listed'])
vocab['black_listed'] = set(vocab['black_listed'])
print(len(vocab['white_listed']))

13199

##EB section

In [79]:
#read eb unknown files from .json formats
"""
Remaining vocab size = 2325
Total learned = 31
"""
with open(path+'eb_unk.json', "r") as infile:
    eb_unk = json.loads(infile.read())
print("Remaining vocab size = "+str(len(eb_unk)))

with open(path+'eb_unk_mo.json', "r") as infile:
    eb_unk_mo = json.loads(infile.read())

with open(path+'eb_learned.json', "r") as infile:
    eb_learned= json.loads(infile.read())
print("Total learned = "+str(len(eb_learned)))

with open(path+'eb_unk_examples.json', "r") as infile:
    eb_unk_examples= json.loads(infile.read())

Remaining vocab size = 2323
Total learned = 33

In [80]:
"""
space = plain, add without conjurgating or changing
c = conjugate as normal verb
x = noun that adds x when plural
s = noun that add s when plural
iv = inner verb. There is a verb in the expression that should be 
    conjurgated
"""
with open("/Users/elyebliss/Desktop/Vocabulary/vocab_dfs/fr_eb_extra.txt","r") as infile:
    extras_lemmas = infile.read().split('\n')

for lemma in extras_lemmas:
    extras_morphs = how_to_add(lemma)
    
    eb_unk[lemma] = extras_morphs
    for morph in extras_morphs:        
        if morph not in eb_unk_mo:
            eb_unk_mo[morph] = lemma

print("Remaining vocab size = "+str(len(eb_unk)))

riposte
c
x
s
ivs
davantage
c
x
s
iv
peiné
c
x
s
ivs
briguer
c
x
s
ivc
rien n’est joué
c
x
s
iv
ne date pas d’hier
c
x
s
iv
agacer
c
x
s
ivc
autochtones
c
x
s
iv
d'aplomb
c
x
s
iv
âpre
c
x
s
ivs
Remaining vocab size = 2332

In [81]:
out = find_unks(pages,eb_unk_mo,eb_unk_examples)

In [84]:
review_out(out,eb_learned,eb_unk,eb_unk_mo,eb_unk_examples)

Lemma: flux
Morph: ['flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux', 'flux']
New examples:
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Ukraine-Russie : la guerre              Huit ans après l'annexion de la Crimée par la Russie et le début du conflit armé contre les séparatistes pro-russes à l'est dans le Donbass, l'Ukraine est la cible d'une guerre déclenchée le 24 février 2022 par la Russie.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             COP27 : l'Afrique au cœur des enjeux climatiques              Près de 110 chefs d'État et de gouvernement sont présents à la COP27 en Égypte à Charm el-Cheikh du 6 au 18 novembre 2022 pour renforcer leurs engagements climatiques face à un réchauffement qui s'emballe et apporter un soutien financier aux pays pauvres, qui en souffrent le plus.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             La Francophonie en sommet à Djerba              Quatre ans après Erevan, en Arménie, les chefs d'Etat et de gouvernement des 88 pays membres de l'Organisation Internationale de la Francophonie (OIF) se retrouvent sur l'île de Djerba, en Tunisie, pour le 18e Sommet de la Francophonie les 19 et 20 novembre 2022.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Coupe du monde de foot 2022 au Qatar              La 22e édition de la Coupe du monde de football se déroulera au Qatar en 2022.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             [à vrai dire] ces infos sont-elles des intox ?
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     En désaccord avec Washington et l'Otan, Zelensky maintient que le missile était "russe"     Le président ukrainien Volodymyr Zelensky s'exprime en visioconférence sur un écran du sommet du G20 à Nusa Dua, sur l'île indonésienne de Bali, le 16 novembre 2022 afp.com - WILLY KURNIAWAN      afp.com - Damien SIMONART      Des experts fouillent le site sur lequel est tombé un missile dans le village polonais de Przewodow, à six kilomètres de la frontière avec l'Ukraine, le 16 novembre 2022 afp.com - HANDOUT      Le président américain Joe Biden réagit au missile tombé en Pologne, à Nusa Dua (Indonésie), le 16 novembre 2022 afp.com - SAUL LOEB      Carte des pays membres de l'Otan et des prétendants à l'intégration à l'organisation, dont la Finlande et la Suède dont le processus de ratification de l'adhésion a été formellement lancé le 5 juillet afp.com -      Carte de la situation en Ukraine au 16 novembre à 7h GMT afp.com -      17 nov 2022  Mise à jour 17.11.2022 à 05:00  Par Ania Tsoukanova  AFP  © 2022 AFP            Kiev a réaffirmé mercredi que le missile ayant tué deux personnes la veille dans un village polonais près de la frontière avec l'Ukraine était "russe", contredisant l'Otan et Washington qui accréditent plutôt la thèse d'un missile de défense ukrainien.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     Ukraine, un pays écartelé Ukraine-Russie : la guerre  DIRECT - Ukraine : pour Varsovie, l'explosion d'un missile en Pologne est un "accident malheureux", pas une attaque        Andrzej Duda, président de la Pologne, à droite, est assis à une table avant de prendre la parole, au sommet de la COP27, le mardi 8 novembre 2022, à Charm el-Cheikh, en Égypte.

options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     Francophonie : l'actualité de la langue française dans le monde Sommet de la Francophonie  Sommet de la francophonie : où en est l'usage du français dans le monde ?
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     L'actualité au Brésil COP : objectif climat COP27 : l'Afrique au cœur des enjeux climatiques  COP27 : Lula propose une conférence climat "en Amazonie"        Le président brésilien, Luiz Inacio Lula da Silva, en troisième position à partir de la gauche, s'exprime lors du sommet de la COP27, le mercredi 16 novembre 2022, à Charm el-Cheikh, en Égypte.
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     La Francophonie en sommet à Djerba Sommet de la Francophonie Enjeux numériques Afrique numérique  Tunisie : quels sont les grands enjeux du XVIIIᵉ Sommet de la Francophonie ?
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     L'actualité des nouvelles technologies  Vagues de licenciement chez Amazon, Meta, Snapchat... les géants de la tech dans la tourmente ?
options : k,m,a,q
    Jump to navigation                                             TV5 Monde    TV5MONDE Plus    TV    Vos rendez-vous    Guide des programmes    Revoir (replay)    Emissions    Réception TV    Direct TV      Info    Langue française    Afrique    Plus    Et aussi …    Voyage    Tivi5mondeplus    Nos applications mobiles    Flux RSS et widgets    Nous suivre sur les réseaux sociaux    Marchés publics          TV5MONDE à travers le monde     TV5MONDE Amérique Latine FR, EN, ES     TV5MONDE Asie/Pacifique FR, EN     TV5MONDE Etats-Unis EN     TV5MONDE Europe FR, EN, NL, DE, RO     TV5MONDE Maghreb-Orient FR, EN, AR             INFO     Formulaire de recherche   Rechercher          Menu        Menu principal Accueil  Videos  Afrique  Terriennes  Culture  Les journaux  En continu       Suivez-nous  Facebook  Twitter             Info     Trump dans la course à la Maison Blanche, rude campagne en vue pour les républicains     L'ancien président américain Donald Trump dans sa résidence de Palm Beach, en Floride, le 15 novembre 2022 afp.com - ALON SKUY      Des soutiens de l'ancien président américain Donald Trump près de sa résidence à Palm Beach, en Floride, le 15 novembre 2022 afp.com - Giorgio VIERA      Un partisan de Donald Trump à Mar-a-Lago, en Floride, le 15 novembre 2022 afp.com - ALON SKUY      Le président américain Joe Biden, à Washington, le 2 novembre 2022 afp.com - Jim WATSON      Le républicain Ron DeSantis fait un discours après l'annonce de sa réélection comme gouverneur de Floride, à Tampa, le 8 novembre 2022 afp.com - Giorgio VIERA      16 nov 2022  Mise à jour 16.11.2022 à 08:00  Par Gerard MARTINEZ avec Camille CAMDESSUS à Washington  AFP  © 2022 AFP            Une campagne sans merci s'annonce mercredi dans le camp des républicains, meurtri et divisé par la déception des récentes élections américaines, après le lancement tonitruant de Donald Trump dans la course à la Maison Blanche.
options : k,m,a,q
Lemma: matériau
Morph: ['matériau']
Previous examples:
 - 16 nov 2022  Hélène Stiefel    Après l'eau, le ciment est le deuxième matériau le plus utilisé au monde.
New examples:
Lemma: maintes
Morph: ['maintes']
Previous examples:
 - Le pays hôte a été maintes fois la cible de critiques notamment d'ONG internationales au sujet de l'exploitation des ouvriers sur les différents chantiers nécessaires à l'organisation du Mondial.
New examples:
Lemma: cote
Morph: ['cote']
Previous examples:
 - Les pionniers africains en Coupe du monde : le Zaïre de 1974    16 nov 2022  Pierre Desorgues    Les Léopards du Zaïre (aujourd'hui RDC) furent la première équipe nationale d'Afrique subsaharienne à participer à une Coupe du...             Coupe du monde 2022 : la Tunisie, grosse cote en quête d'exploit    16 nov 2022  TV5MONDE    Pour sa sixième participation à la Coupe du monde, la Tunisie aura pour objectif de sortir pour la première fois de son histoire...             Coupe du Monde 2022 au Qatar : femmes, arbitres, défricheuses    16 nov 2022  Terriennes Liliane Charrier  Avec AFP   Elles ont tracé leur chemin dans le monde très masculin de l'arbitrage jusqu'au Graal, la Coupe du monde de football : six...             Coupe du monde 2022 : quels sont les 8 stades où se jouera la compétition ?
New examples:
Lemma: charrier
Morph: ['charrier']
New examples:
Les pionniers africains en Coupe du monde : le Zaïre de 1974    16 nov 2022  Pierre Desorgues    Les Léopards du Zaïre (aujourd'hui RDC) furent la première équipe nationale d'Afrique subsaharienne à participer à une Coupe du...             Coupe du monde 2022 : la Tunisie, grosse cote en quête d'exploit    16 nov 2022  TV5MONDE    Pour sa sixième participation à la Coupe du monde, la Tunisie aura pour objectif de sortir pour la première fois de son histoire...             Coupe du Monde 2022 au Qatar : femmes, arbitres, défricheuses    16 nov 2022  Terriennes Liliane Charrier  Avec AFP   Elles ont tracé leur chemin dans le monde très masculin de l'arbitrage jusqu'au Graal, la Coupe du monde de football : six...             Coupe du monde 2022 : quels sont les 8 stades où se jouera la compétition ?

options : k,m,a,qa
Lemma: civière
Morph: ['civière']
Previous examples:
 - Coupe du Monde 2022 : Amine Harit gravement blessé à une semaine du début de la compétition    14 nov 2022    Le Marocain de l'Olympique de Marseille Amine Harit est sorti sur une civière lors du match contre Monaco, dimanche en Ligue 1....             Coupe du monde 2022 : Thuram convoqué in extremis chez les Bleus, Kimpembe forfait    14 nov 2022  TV5MONDE AFP    Marcus Thuram, attaquant du Borussia Mönchengladbach, a été convoqué pour compléter le groupe de l'équipe de France retenu pour...            4 : 19    Coupe du monde : les Sénégalais de l'ASC Lebougui en route pour le Qatar !
New examples:
Lemma: conformément
Morph: ['conformément']
Previous examples:
 - "Je crois que c'était un missile russe, conformément au rapport des militaires" ukrainiens, a-t-il ajouté alors que les responsables de l'Otan ont estimé qu'il s'agissait probablement d'un missile du système ukrainien de défense anti-aérienne.
New examples:
Lemma: onze
Morph: ['onze']
Previous examples:
 - Le ministre ukrainien des Affaires intérieures Denys Monastyrskyi a indiqué mercredi soir que 436 procédures avaient été ouvertes après la découverte dans cette région d'éléments pouvant être qualifiés de crimes de guerre, notamment onze sites d'emprisonnement dont "quatre" ayant des traces de salles de torture.
New examples:
Lemma: relevé
Morph: ['relevé']
Previous examples:
 - Hong Kong a relevé son alerte au niveau trois et s'attend dans les prochaines heures à des vents violents et d'importantes précipitations.
 - Jusqu'à présent, "63 corps" ont été retrouvés "mais les recherches ne font que commencer et beaucoup plus de sites de torture et de mises en terre seront découverts", a-t-il relevé, selon le site du gouvernement ukrainien.
New examples:
Lemma: délibérément
Morph: ['délibérément', 'délibérément']
Previous examples:
 - Cibler délibérément le réseau électrique civil, provoquant des dommages collatéraux excessifs et la souffrance inutile de la population civile, est un crime de guerre ", a affirmé le général Milley, aux côtés du secrétaire à la Défense Lloyd Austin.
New examples:
Benjamin Beraud  Mise à jour 16.11.2022 à 15:44      Sur le même thème        Ukraine, Taiwan : Elon Musk s'improvise diplomate     Économie : "Fuzé", un fonds dédié aux startups francophones     Technologie : le robot humanoïde d'Elon Musk     Espace : un vaisseau de la Nasa percute délibérément un astéroïde pour le dévier     Ballon d'Or 2022 : le trophée sera doublé d'une version NFT            En ce moment  Ukraine-Russie : la guerre  COP27  18e Sommet de la Francophonie  Coupe du monde 2022  [à vrai dire] infos ou intox ?
options : k,m,a,qk
Lemma: état-major
Morph: ['état-major', 'état-major']
Previous examples:
 - Le chef d’état-major américain juge peu probable que l’Ukraine puisse déloger les Russes de tout le pays Lors d’une conférence de presse, le chef d’état-major américain, le général Mark Milley, a estimé peu probable au moins à court terme que l’Ukraine puisse déloger militairement la Russie de l’ensemble des territoires qu’elle occupe dans le pays, y compris la Crimée. "
New examples:
Lemma: sitôt
Morph: ['sitôt']
Previous examples:
 - La probabilité d'une victoire militaire ukrainienne, expulsant les Russes de tout l'Ukraine y compris (...) la Crimée, la probabilité que cela se passe de sitôt n'est pas très élevée militairement ", a déclaré le général Milley.
New examples:
Lemma: recul
Morph: ['recul', 'recul', 'recul', 'recul']
Previous examples:
 - La Russie entre en récession La Russie est officiellement entrée en récession après un recul de 4% de son produit intérieur brut (PIB) au troisième trimestre, selon une première évaluation publiée par l'agence de statistiques Rosstat.
New examples:
La langue française face au monolinguisme  S’il est en progression dans le monde, le français est en recul au sein des organisations internationales.
options : k,m,a,qk
Louise Mushikiwabo, Secrétaire générale de la Francophonie à l'AFP   "On se rend compte d'après nos rapports que dans les organisations internationales, il y a eu un recul" du français, argumente Louise Mushikiwabo.
options : k,m,a,q
Pour "faire reculer le recul du français" , l’Organisation internationale de la Francophonie, en la personne de Louise Mushikiwabo, met en œuvre un certain nombre d’actions dont, "le dispositif de veille, d’alerte et d’action en faveur de la langue française et du multilinguisme dans les organisations internationales" .
options : k,m,a,q
Lemma: plombé
Morph: ['plombé']
Previous examples:
 - La tendance, dans le prolongement d'un deuxième trimestre déjà plombé (-4,1%), est largement affectée par les effets des lourdes sanctions occidentales consécutives à l'intervention militaire du Kremlin en Ukraine.
New examples:
Lemma: faille
Morph: ['faille']
Previous examples:
 - Pétrole russe : la Turquie devient une route détournée vers l'UE​ La Russie engrange moins d'argent avec ses exportations d'énergies fossiles mais la Turquie devient une route detournée pour exporter du pétrole russe vers l'UE, une "faille" dans les sanctions, met en garde un centre de recherche indépendant mercredi.
New examples:
Lemma: sape
Morph: ['sape']
Previous examples:
 - G20 : " la plupart des membres condamnent fermement la guerre en Ukraine"​ La "plupart" des membres du G20, "ont condamné fermement la guerre en Ukraine" et tous se sont accordés sur le fait que le conflit "sape l'économie mondiale" , selon un communiqué commun publié mercredi à l'issue du sommet du groupe à Bali.
New examples:
Lemma: pousse
Morph: ['pousse']
Previous examples:
 - La Pologne confirme une frappe de missile "très probablement de fabrication russe"​ La Pologne a placé mardi son armée en état d'alerte renforcée après avoir été atteinte par ce qu'elle a décrit comme un missile "très probablement de fabrication russe" mais d'origine incertaine, ce qui pousse ses alliés de l'Otan à la prudence.
New examples:
Lemma: convenu
Morph: ['convenu']
Previous examples:
 - Faire l'histoire en tenant nos engagements, tous nos engagements, dont celui, convenu, de 100 milliards de dollars par an pour soutenir les efforts d'adaptation des pays en développement et qui peinent à être entièrement réalisés.
 - Explosions en Pologne : Biden et Duda se concerteront sur les "prochaines étapes"​ Le président américain Joe Biden et son homologue polonais Andrzej Duda, qui ont parlé mardi des explosions meurtrières en Pologne, ont convenu de se concerter sur les "prochaines étapes" , selon la Maison Blanche.
New examples:
Lemma: élaborer
Morph: ['élaborer']
Previous examples:
 - Parmi les actions immédiates: un sommet de l'Otan avec la participation de l'Ukraine pour élaborer de nouvelles actions conjointes, qui forceront la Russie à changer de cap sur l'escalade, et fournir à l'Ukraine des avions modernes" , a déclaré le ministre des Affaires étrangères, Dmytro Kuleba, sur Twitter.
New examples:
Lemma: bénin
Morph: ['bénin']
Previous examples:
 - Algérie, Andorre, Belgique (dont la fédération Wallonie-Bruxelles), Bénin, Burkina Faso, Burundi, Cameroun, Canada (dont Canada-Nouveau-Brunswick, Canada- Ontario et Canada-Québec), Comores, Congo, Congo (République démocratique du), Côte d’Ivoire, Djibouti, France (et ses territoires ultramarins), Gabon, Guinée, Guinée équatoriale, Haïti, Liban, Luxembourg, Madagascar, Mali, Maroc, Maurice, Mauritanie, Monaco, Niger, République centrafricaine, Rwanda, Sénégal, Seychelles, Suisse, Tchad, Togo, Tunisie, Vanuatu   Si le français a crû de 7% depuis 2018, sa croissance est plus lente que sur la période 2014-2018 (sa croissance était alors de 10%, ndlr).
New examples:
Lemma: réticence
Morph: ['réticence']
Previous examples:
 - Mais selon des observateurs, l'Arabie saoudite et la Chine, membres du G20, avaient fait savoir lors de la COP27 leur réticence, déjà exprimée par le passé, à voir à nouveau cette référence dans le texte final, alors que le monde se dirige vers un réchauffement catastrophique de 2,8°C.
New examples:
Lemma: touche
Morph: ['touche', 'touche']
Previous examples:
 - Chargement du lecteur...       Des algorithmes plus au service du français  L’importance de la capacité à se connecter facilement touche directement un des autres objectifs de l’organisation, celui de la « découvrabilité ».
 - Celui qui les touche tous, est la guerre en Ukraine.
New examples:
Lemma: voûter
Morph: ['voûte']
New examples:
Le Secrétaire est défini par la Charte de la Francophonie comme la " clé de voûte du dispositif institutionnel de la Francophonie ".

options : k,m,a,qa
Lemma: lancée
Morph: ['lancée', 'lancée']
New examples:
Meta a embauché et s'est lancée dans de nouveaux projets en croyant que les recettes publicitaires resteraient élevées.
options : k,m,a,qk
“ Elle a embauché et s'est lancée dans de nouveaux projets en croyant que les recettes publicitaires resteraient élevées ", ajoute-t-elle.
options : k,m,a,q
Lemma: frileux
Morph: ['frileux']
New examples:
Des actionnaires frileux faces aux nouveaux investissements de GAFAM's  “ Meta pensait que la croissance du commerce en ligne continuerait dans la durée ”, argumente  Debra Aho Williamson.
options : k,m,a,qa
Lemma: curer
Morph: ['curer']
New examples:
Il leur a redit sa volonté de "curer le marigot" de Washington, selon sa formule consacrée pour désigner les élites honnies de la capitale fédérale.
options : k,m,a,qa
Lemma: âpre
Morph: ['âpre', 'âpre']
New examples:
- Âpre bataille - Une partie de la nébuleuse conservatrice s'est déjà tournée vers un autre possible prétendant à la Maison Blanche et résident de Floride: son gouverneur, Ron DeSantis.
options : k,m,a,qa
L'ancien vice-président de Donald Trump, Mike Pence, son ex-chef de la diplomatie, Mike Pompeo, le gouverneur de Virginie, Glenn Youngkin... la bataille pour l'investiture républicaine promet d'être âpre.
options : k,m,a,qa

In [85]:
#write to eb unknown files to .json formats
"""
Remaining vocab size = 2322
Total learned = 43
"""
with open(path+'eb_unk.json', "w") as outfile:
    json.dump(eb_unk,outfile)
print("Remaining vocab size = "+str(len(eb_unk)))

with open(path+'eb_unk_mo.json', "w") as outfile:
    json.dump(eb_unk_mo,outfile)

with open(path+'eb_learned.json', "w") as outfile:
    json.dump(eb_learned,outfile)
print("Total learned = "+str(len(eb_learned)))

with open(path+'eb_unk_examples.json', "w") as outfile:
    json.dump(eb_unk_examples,outfile)

Remaining vocab size = 2322
Total learned = 43

### Code no longer in use

In [162]:
##France24
print("Checking France24")
parser = 'html.parser'  # or 'lxml' (preferred) or 'html5lib', if installed
#request=urllib.request.Request('https://savoirs.rfi.fr/en/apprendre-enseigner/langue-fran%C3%A7aise/journal-en-francais-facile',None,headers)
request=urllib.request.Request('https://www.france24.com/fr/',None,headers)

resp = urllib.request.urlopen(request)
soup = bs4.BeautifulSoup(resp, parser, from_encoding=resp.info().get_param('charset'))


pages = []
for link in soup.find_all('a', href=True):
    str_ver = str(link['href'])
    
    #get regex such that links start with /fr/ and don't end
    #with /
    if bool(re.search('^\/fr\/.*',str_ver)) and (str_ver[len(str_ver)-1]!='/'):
        pages.append('https://www.france24.com'+str_ver)
pages = list(set(pages))

Checking France24

In [202]:
##France24
print("Checking 20minutes")
parser = 'html.parser'  # or 'lxml' (preferred) or 'html5lib', if installed
#request=urllib.request.Request('https://savoirs.rfi.fr/en/apprendre-enseigner/langue-fran%C3%A7aise/journal-en-francais-facile',None,headers)
request=urllib.request.Request('https://www.20minutes.fr/',None,headers)

resp = urllib.request.urlopen(request)
soup = bs4.BeautifulSoup(resp, parser, from_encoding=resp.info().get_param('charset'))


pages = []
for link in soup.find_all('a', href=True):
    str_ver = str(link['href'])
    
    final_segment = str_ver.split('/')[len(str_ver.split('/'))-1]
    #articles have https:// at the beginning and a date in the last segment
    if ('https://www.20minutes.fr' in str_ver)\
    and bool(re.search('[0-9]',final_segment)):
        pages.append(str_ver)
    
pages = list(set(pages))
pages

Checking 20minutes

['https://www.20minutes.fr/monde/4010811-20221119-etats-unis-joe-biden-marie-petite-fille-maison-blanche-huis-clos',
 'https://www.20minutes.fr/guide-achat/bon-plan-fdj/4010807-20221119-resultats-loto-fdj-resultats-tirage-samedi-19-novembre',
 'https://www.20minutes.fr/sport/4010800-20221119-masters-atp-novak-djokovic-qualifie-huitieme-finale',
 'https://www.20minutes.fr/sport/4010789-20221119-ski-americaine-mikaela-shiffrin-gagne-slalom-levi-premiere-course-saison',
 'https://www.20minutes.fr/videos/oh-my-fake/4010674-20221119-nasa-origine-etude-refute-fonte-glaces-antarctique',
 'https://www.20minutes.fr/justice/4010803-20221119-homme-demembre-pres-rouen-deux-accusees-condamnees-22-17-annees-reclusion',
 'https://www.20minutes.fr/television/4010518-20221119-star-academy-avant-votait-ur-maintenant-tete-telecrochets-heure-vote-utile',
 'https://www.20minutes.fr/sante/4010717-20221119-sante-mentale-maison-perchee-jeunes-souffrant-bipolarite-schizophrenie-entraident',
 'https://www.20minutes.fr/societe/4010801-20221119-tauromachie-pro-anti-corrida-rue-samedi-avant-vote-assemblee',
 'https://www.20minutes.fr/high-tech/4010702-20221119-si-twitter-effondre-tous-memes-sauves-grace-americain',
 'https://www.20minutes.fr/guide-achat/black-friday-guide-achat/4010698-20221119-black-friday-week-amazon-tondeuses-braun-philips-promotion',
 'https://www.20minutes.fr/monde/4010799-20221119-offert-taiwan-chine-14-ans-panda-tuan-tuan-decede',
 'https://www.20minutes.fr/faits_divers/4010776-20221119-lot-garonne-adolescente-14-ans-retrouvee-morte-homme-garde-vue',
 'https://www.20minutes.fr/monde/4010790-20221119-burkina-gouvernement-appelle-calme-retenue-apres-manifestation-anti-france',
 'https://www.20minutes.fr/toulouse/4010668-20221118-toulouse-nouvelle-action-degonfleurs-90-suv-pris-cible',
 'https://www.20minutes.fr/auto/4010719-20221119-radars-nouveaux-panneaux-signalisation-installes-bord-routes-francaises',
 'https://www.20minutes.fr/people/4010695-20221118-ellen-pompeo-annonce-officiellement-depart-grey-anatomy',
 'https://www.20minutes.fr/sport/coupe_du_monde_2022/4010812-20221120-coupe-monde-2022-officiel-karim-benzema-declare-forfait',
 'https://www.20minutes.fr/people/4010744-20221118-miss-france-2023-vexee-conference-presse-tendue-entre-sylvie-tellier-alexia-laroche-joubert',
 'https://www.20minutes.fr/sport/coupe_du_monde_2022/4010808-20221119-coupe-monde-2022-poisse-totale-benzema-blesse-doute-forfait-mondial',
 'https://www.20minutes.fr/monde/4010809-20221119-ocean-viking-norvege-va-accueillir-vingt-migrants-secourus-navire',
 'https://www.20minutes.fr/podcast/4009362-20221110-minute-papillon-charlotte-letourneur-gagnante-prix-20-minutes-roman-polar-machiavelique',
 'https://www.20minutes.fr/planete/4010796-20221119-cop27-accord-trouve-fonds-dedie-reparer-degats-climatiques',
 'https://www.20minutes.fr/societe/1814119-20160326-generation-404-jeune-20-minutes-besoin',
 'https://www.20minutes.fr/politique/4010805-20221119-budget-senat-allege-fiscalite-successions-viticulteurs-agriculteurs',
 'https://www.20minutes.fr/sport/4010755-20221119-coupe-monde-2022-budweiser-biere-fait-plier-bresil-russie-qatar',
 'https://www.20minutes.fr/podcast/4008874-20221109-minute-papillon-comment-sectes-repaissent-crise-sanitaire',
 'https://www.20minutes.fr/people/4010449-20221119-documentaire-gloire-christina-aguilera-preparation',
 'https://www.20minutes.fr/insolite/4010506-20221117-allemagne-retrouve-gros-cheque-ordre-haribo-entreprise-remercie-six-sachets-bonbons',
 'https://www.20minutes.fr/monde/4010798-20221119-trump-desantis-pence-prendront-parole-lors-rassemblement-republicain-week-end',
 'https://www.20minutes.fr/guide-achat/black-friday-guide-achat/4010701-20221119-black-week-amazon-meilleures-offres-ustensiles-cuisine-tefal-seb',
 'https://www.20minutes.fr/societe/4010678-20221119-loire-atlantique-marche-blanche-apres-deces-ado-circonstances-douteuses',
 'https://www.20minutes.fr/monde/4010770-20221119-guerre-ukraine-direct-zelensky-ecarte-idee-courte-treve-russie',
 'https://www.20minutes.fr/societe/4010797-20221119-violences-sexistes-manifestations-plusieurs-villes-contre-impunite-agresseurs',
 'https://www.20minutes.fr/podcast/4010142-20221118-tout-sexplique-quand-pma-entre-sexualite-couple',
 'https://www.20minutes.fr/20-mint/4009551-20221116-ariel-wengroff-crypto-faite-opprimes',
 'https://www.20minutes.fr/guide-achat/black-friday-guide-achat/4010526-20221117-black-friday-conforama-jusqu-50-remise-electromenager-ameublement',
 'https://www.20minutes.fr/auto/4010482-20221119-volkswagen-avance-electrification',
 'https://www.20minutes.fr/planete/4010824-20221120-rdc-inondations-eboulements-font-moins-20-morts-pays',
 'https://www.20minutes.fr/faits_divers/4010787-20221119-paris-sept-personnes-mises-examen-apres-mort-adolescent-tue-couteau',
 'https://www.20minutes.fr/20-mint/4009295-20221116-10-projets-web3-impact-imminent',
 'https://www.20minutes.fr/monde/4010810-20221119-francophonie-reunie-tunisie-renforcer-role-international',
 'https://www.20minutes.fr/high-tech/4010339-20221119-aspirateur-laveur-washvac-f20-proscenic-fait-bon-menage-sols-tres-sales',
 'https://www.20minutes.fr/magazine/grand-prix-amerique-mag/4010651-20221118-hiver-courses-hippiques-transforment-serie-tv-suspense',
 'https://www.20minutes.fr/sport/4010788-20221119-coupe-monde-2022-ceux-critiquent-mondial-hypocrites-defend-gianni-infantino',
 'https://www.20minutes.fr/sport/coupe_du_monde_2022/4010794-20221119-senegal-pays-bas-heure-chaine-regarder-match',
 'https://www.20minutes.fr/guide-achat/black-friday-guide-achat/4008924-20221118-casques-ecouteurs-sony-lance-offre-black-friday-chez-fnac',
 'https://www.20minutes.fr/guide-achat/4010131-20221118-coupe-monde-2022-favoris-remporter-mondial-qatar',
 'https://www.20minutes.fr/serie/4010490-20221118-comment-grande-aventure-plus-belle-vie-capte-moment-histoire-television',
 'https://www.20minutes.fr/serie/4010553-20221117-1899-boite-mysteres-trippante-facon-lost-createurs-dark',
 'https://www.20minutes.fr/by-the-web/4010784-20221119-unboxing-cyberharcelement-defenseure-droits-appelle-proteger-vie-privee-enfants',
 'https://www.20minutes.fr/monde/4010804-20221119-tunisie-englue-crise-economique-pays-va-recevoir-pret-200-millions-euros-france',
 'https://www.20minutes.fr/high-tech/4010627-20221119-velo-cowboy-4-monture-confortable-rouler-ville-adaptee-vrai-rodeo',
 'https://www.20minutes.fr/people/4010439-20221119-elton-john-aimerait-refaire-duo-britney-spears-procedant-differemment',
 'https://www.20minutes.fr/societe/4004766-20221011-penurie-carburant-trouver-essence-pres-chez',
 'https://www.20minutes.fr/sport/coupe_du_monde_2022/4010791-20221119-coupe-monde-2022-heure-chaine-regarder-match-angleterre-iran',
 'https://www.20minutes.fr/faits_divers/4010721-20221118-nord-reseau-suspecte-vendre-materiel-fictif-usurpant-identite-societes-demantele',
 'https://www.20minutes.fr/societe/3214063-20220118-20-minutes-ecoute-nouvel-espace-consacre-lecteurs-internautes-20-minutes',
 'https://www.20minutes.fr/sortir/4010635-20221118-marseille-vie-nocturne-marseillaise-train-changer',
 'https://www.20minutes.fr/sport/coupe_du_monde_2022/4010705-20221119-coupe-monde-2022-direct-vers-4-2-3-1-familles-bleus-contre-australie-suivez-journee-samedi',
 'https://www.20minutes.fr/paris/4010656-20221118-corbeil-essonnes-enseignante-menacee-apres-avoir-commente-priere-musulmane-tiktok',
 'https://www.20minutes.fr/people/4010445-20221119-incapable-changer-nom-twitter-doja-cat-tacle-elon-musk-beaute',
 'https://www.20minutes.fr/charte-20minutes',
 'https://www.20minutes.fr/monde/4010319-20221119-guerre-ukraine-apres-liberation-kherson-batailles-venir-kiev',
 'https://www.20minutes.fr/20-mint/4009568-20221116-web3-va-changer-apres-communaute-20-mint',
 'https://www.20minutes.fr/publicommunique/4000987-20220914-quiz-princesse-disney',
 'https://www.20minutes.fr/publicommunique/4005838-20221018-quiz-personnage-anime',
 'https://www.20minutes.fr/videos/4010730-20221119-genocide-tutsis-silence-mots-doc-2-minutes-samedi']

In [203]:
len(pages)

68

In [178]:
return_line_percents(webpage)

[100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 83.33333333333333,
 71.42857142857143,
 75.0,
 77.77777777777777,
 80.0,
 81.81818181818181,
 83.33333333333333,
 84.61538461538461,
 85.71428571428571,
 86.66666666666667,
 87.5,
 88.23529411764706,
 83.33333333333333,
 84.21052631578948,
 80.0,
 80.95238095238095,
 81.81818181818181,
 82.6086956521739,
 83.33333333333333,
 84.0,
 84.61538461538461,
 85.18518518518519,
 85.71428571428571,
 86.20689655172414,
 86.66666666666667,
 87.09677419354838,
 87.5,
 84.84848484848484,
 85.29411764705883,
 85.71428571428571,
 86.11111111111111,
 86.48648648648648,
 86.84210526315789,
 87.17948717948718,
 87.5,
 87.8048780487805,
 88.0952380952381,
 88.37209302325581,
 88.63636363636364,
 88.88888888888889,
 86.95652173913044,
 87.23404255319149,
 87.5,
 87.75510204081633,
 88.0,
 88.23529411764706,
 88.46153846153847,
 88.67924528301887,
 88.88888888888889,
 89.0909090909091,
 89.28571428571429,
 89.47368421052632,
 89.65517241379311,
 88.13559322033899,
 88.33333333333333,
 88.52459016393442,
 88.70967741935483,
 88.88888888888889,
 87.5,
 87.6923076923077,
 87.87878787878788,
 88.05970149253731,
 88.23529411764706,
 88.40579710144928,
 88.57142857142857,
 88.73239436619718,
 87.5,
 87.67123287671232,
 87.83783783783784,
 88.0,
 88.15789473684211,
 88.31168831168831,
 88.46153846153847,
 88.60759493670886,
 88.75,
 88.88888888888889,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 93.33333333333333,
 93.75,
 94.11764705882354,
 88.88888888888889,
 89.47368421052632,
 90.0,
 90.47619047619048,
 90.9090909090909,
 91.30434782608695,
 91.66666666666667,
 92.0,
 92.3076923076923,
 92.5925925925926,
 92.85714285714286,
 93.10344827586206,
 93.33333333333333,
 93.54838709677419,
 93.75,
 93.93939393939394,
 94.11764705882354,
 94.28571428571429,
 94.44444444444444,
 94.5945945945946,
 94.73684210526316,
 94.87179487179488,
 95.0,
 95.1219512195122,
 95.23809523809524,
 95.34883720930233,
 95.45454545454545,
 95.55555555555556,
 95.65217391304348,
 95.74468085106383,
 95.83333333333333,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 87.5,
 88.88888888888889,
 90.0,
 90.9090909090909,
 91.66666666666667,
 92.3076923076923,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 75.0,
 80.0,
 83.33333333333333,
 71.42857142857143,
 75.0,
 77.77777777777777,
 70.0,
 72.72727272727273,
 75.0,
 69.23076923076923,
 71.42857142857143,
 73.33333333333333,
 75.0,
 76.47058823529412,
 77.77777777777777,
 78.94736842105263,
 80.0,
 80.95238095238095,
 81.81818181818181,
 82.6086956521739,
 79.16666666666667,
 80.0,
 80.76923076923077,
 81.48148148148148,
 82.14285714285714,
 82.75862068965517,
 83.33333333333333,
 83.87096774193549,
 84.375,
 81.81818181818181,
 82.3529411764706,
 82.85714285714286,
 83.33333333333333,
 83.78378378378379,
 84.21052631578948,
 84.61538461538461,
 85.0,
 85.36585365853658,
 85.71428571428571,
 86.04651162790698,
 86.36363636363636,
 86.66666666666667,
 86.95652173913044,
 87.23404255319149,
 87.5,
 87.75510204081633,
 88.0,
 88.23529411764706,
 88.46153846153847,
 88.67924528301887,
 87.03703703703704,
 87.27272727272727,
 87.5,
 85.96491228070175,
 86.20689655172414,
 86.44067796610169,
 85.0,
 83.60655737704919,
 83.87096774193549,
 84.12698412698413,
 84.375,
 84.61538461538461,
 84.84848484848484,
 85.07462686567165,
 85.29411764705883,
 85.5072463768116,
 85.71428571428571,
 85.91549295774648,
 86.11111111111111,
 86.3013698630137,
 86.48648648648648,
 86.66666666666667,
 85.52631578947368,
 85.71428571428571,
 85.8974358974359,
 86.07594936708861,
 86.25,
 86.41975308641975,
 86.58536585365853,
 86.74698795180723,
 86.9047619047619,
 87.05882352941177,
 87.20930232558139,
 87.35632183908046,
 87.5,
 87.64044943820225,
 86.66666666666667,
 86.81318681318682,
 86.95652173913044,
 87.09677419354838,
 87.23404255319149,
 87.36842105263158,
 87.5,
 87.62886597938144,
 87.75510204081633,
 87.87878787878788,
 88.0,
 88.11881188118812,
 88.23529411764706,
 87.37864077669903,
 87.5,
 87.61904761904762,
 87.73584905660377,
 87.85046728971963,
 87.03703703703704,
 87.1559633027523,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 75.0,
 80.0,
 66.66666666666667,
 71.42857142857143,
 75.0,
 77.77777777777777,
 80.0,
 81.81818181818181,
 83.33333333333333,
 84.61538461538461,
 85.71428571428571,
 86.66666666666667,
 87.5,
 88.23529411764706,
 88.88888888888889,
 89.47368421052632,
 90.0,
 90.47619047619048,
 90.9090909090909,
 91.30434782608695,
 91.66666666666667,
 92.0,
 92.3076923076923,
 88.88888888888889,
 89.28571428571429,
 86.20689655172414,
 86.66666666666667,
 87.09677419354838,
 87.5,
 87.87878787878788,
 88.23529411764706,
 88.57142857142857,
 88.88888888888889,
 89.1891891891892,
 86.84210526315789,
 87.17948717948718,
 87.5,
 87.8048780487805,
 88.0952380952381,
 88.37209302325581,
 88.63636363636364,
 88.88888888888889,
 89.1304347826087,
 89.36170212765957,
 89.58333333333333,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 90.0,
 90.9090909090909,
 91.66666666666667,
 92.3076923076923,
 92.85714285714286,
 93.33333333333333,
 93.75,
 94.11764705882354,
 94.44444444444444,
 94.73684210526316,
 95.0,
 95.23809523809524,
 95.45454545454545,
 95.65217391304348,
 95.83333333333333,
 96.0,
 96.15384615384616,
 96.29629629629629,
 96.42857142857143,
 96.55172413793103,
 96.66666666666667,
 96.7741935483871,
 96.875,
 96.96969696969697,
 97.05882352941177,
 94.28571428571429,
 94.44444444444444,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 90.0,
 90.9090909090909,
 91.66666666666667,
 92.3076923076923,
 92.85714285714286,
 93.33333333333333,
 93.75,
 94.11764705882354,
 94.44444444444444,
 89.47368421052632,
 90.0,
 85.71428571428571,
 86.36363636363636,
 82.6086956521739,
 83.33333333333333,
 84.0,
 84.61538461538461,
 85.18518518518519,
 85.71428571428571,
 86.20689655172414,
 86.66666666666667,
 87.09677419354838,
 87.5,
 84.84848484848484,
 85.29411764705883,
 85.71428571428571,
 86.11111111111111,
 86.48648648648648,
 86.84210526315789,
 87.17948717948718,
 87.5,
 87.8048780487805,
 88.0952380952381,
 88.37209302325581,
 88.63636363636364,
 88.88888888888889,
 89.1304347826087,
 89.36170212765957,
 89.58333333333333,
 89.79591836734694,
 90.0,
 90.19607843137256,
 90.38461538461539,
 90.56603773584905,
 90.74074074074075,
 89.0909090909091,
 89.28571428571429,
 89.47368421052632,
 89.65517241379311,
 89.83050847457628,
 90.0,
 88.52459016393442,
 88.70967741935483,
 88.88888888888889,
 89.0625,
 89.23076923076923,
 89.39393939393939,
 89.55223880597015,
 89.70588235294117,
 88.40579710144928,
 87.14285714285714,
 87.32394366197182,
 87.5,
 87.67123287671232,
 87.83783783783784,
 88.0,
 88.15789473684211,
 88.31168831168831,
 88.46153846153847,
 88.60759493670886,
 88.75,
 88.88888888888889,
 89.02439024390245,
 89.1566265060241,
 89.28571428571429,
 89.41176470588235,
 89.53488372093024,
 89.65517241379311,
 88.63636363636364,
 88.76404494382022,
 88.88888888888889,
 89.01098901098901,
 89.1304347826087,
 89.24731182795699,
 89.36170212765957,
 89.47368421052632,
 89.58333333333333,
 89.69072164948453,
 89.79591836734694,
 89.8989898989899,
 90.0,
 90.0990099009901,
 90.19607843137256,
 89.32038834951456,
 88.46153846153847,
 88.57142857142857,
 88.67924528301887,
 87.85046728971963,
 87.03703703703704,
 87.1559633027523,
 87.27272727272727,
 87.38738738738739,
 87.5,
 86.72566371681415,
 86.84210526315789]

In [177]:
def return_line_percents(webpage):
    request=urllib.request.Request(webpage,None,headers) #The assembled request
    response = urllib.request.urlopen(request)
    data = response.read()
    contents = text_from_html(data)

    known_array = []
    unk_array = []
    contents_array = sent_tokenize(contents)

    lines = []

    for line in contents_array:
        tokenized = word_tokenize(line, language='french')

        line_total = 0
        line_unks = 0
        for word in tokenized:

            line_total +=1

            if not (bool(re.search("[0-9]", word)) or\
                    bool(re.search("[A-Z]", word)) or\
                    bool(re.search("[.,\/#!$%\^&\*;:{}=\-_`~()«»]", word)) or\
                    word.lower() in vocab['white_listed']):

                    line_unks +=1

            lines.append(100*(line_total-line_unks)/line_total)
    return(lines)

In [ ]:

if (start is not None) and (stop is not None):
    contents_array=contents_array[max(start,0):min(stop,len(contents_array))]

with open(path+'unknown_french_dad_list.txt',"w") as outfile:
    outfile.write(str(list(disallowed_words)))

In [91]:
            
##TV5Monde
print("Checking TV5Monde")
parser = 'html.parser'  # or 'lxml' (preferred) or 'html5lib', if installed
#request=urllib.request.Request('https://savoirs.rfi.fr/en/apprendre-enseigner/langue-fran%C3%A7aise/journal-en-francais-facile',None,headers)
request=urllib.request.Request('https://www.tv5monde.com/',None,headers)

resp = urllib.request.urlopen(request)
soup = bs4.BeautifulSoup(resp, parser, from_encoding=resp.info().get_param('charset'))


pages = []
for link in soup.find_all('a', href=True):
    if '/info/' in str(link['href']):
        #print(str(link['href']))
        #str_page = 'https://savoirs.rfi.fr/'+str(link['href'])
        #str_page = 'https://savoirs.rfi.fr/en/apprendre-enseigner/langue-francaise/journal-en-francais-facile-'+str(re.search(r"[0-9]{8}.*",str(link['href'])).group(0))
        if str(link['href']) not in pages:
            pages.append(str(link['href']))

pages

Checking TV5Monde

['https://information.tv5monde.com/info/ukraine-russie-la-guerre',
 'https://information.tv5monde.com/info/cop27-l-afrique-au-coeur-des-enjeux-climatiques',
 'https://information.tv5monde.com/info/la-francophonie-en-sommet-djerba',
 'https://information.tv5monde.com/info/coupe-du-monde-de-foot-2022-au-qatar',
 'https://information.tv5monde.com/info/decryptage-vrai-dire',
 'https://information.tv5monde.com/info/direct-sommet-de-la-francophonie-les-travaux-se-poursuivent-djerba-479093',
 'https://information.tv5monde.com/info/tunisie-quels-sont-les-grands-enjeux-du-xviii-sommet-de-la-francophonie-478730',
 'https://information.tv5monde.com/info/direct-ukraine-le-premier-ministre-britannique-rishi-sunak-promet-50-millions-de-livres-d-aide',
 'https://information.tv5monde.com/info/cop27-un-accord-trouve-extremis-sur-la-question-des-degats-climatiques-479072']

In [300]:
##add in extras
with open("/Users/elyebliss/Desktop/Vocabulary/vocab_dfs/fr_eb_extra.txt","r") as infile:
    extras_lemmas = infile.read().split('\n')

gs = goslate.Goslate()

default_conjugator = mlconjug3.Conjugator(language='fr')


for lemma in extras_lemmas:
    
    decision = how_to_add(lemma)
    
    if lemma not in eb_unk:
        eb_unk[lemma] = []
        
    extras_morphs = []
    extras_morphs.append(lemma)
    try:
        #if it's an infinitive, add all conjurgations
        test_verb = default_conjugator.conjugate(lemma)
        all_conjugated_forms = test_verb.iterate()
        for item in all_conjugated_forms:
            if item not in extras_morphs:
                extras_morphs.append(item[len(item)-1])
        extras_morphs = list(set(extras_morphs))
    except:
        
        #if not an expression:
        if len(lemma.split(' '))==1:
            #add plural nouns
            if lemma[len(lemma)-1]=='u':
                extras_morphs.append(lemma+'x')
            else:
                extras_morphs.append(lemma+'s')

    eb_unk[lemma] = extras_morphs
    for morph in extras_morphs:        
        if morph not in eb_unk_mo:
            eb_unk_mo[morph] = lemma

print("Remaining vocab size = "+str(len(eb_unk)))

Remaining vocab size = 2327

In [177]:
#make backups
eb_learned_backup = eb_learned.copy()
eb_unk_backup = eb_unk.copy()
eb_unk_mo_backup = eb_unk_mo.copy()
eb_unk_examples_backup = eb_unk_examples.copy()
print("unknowns before = "+str(len(eb_unk_backup)))

unknowns before = 2319

In [149]:
add_to_black = [ ]

for word in add_to_black:
    vocab['black_listed'].add(word)

In [8]:
#Upload from download
with open(path+'known_french_dad_list.txt',"r") as input_file:
    new_words = input_file.read()
    new_words = re.sub('\n',"",new_words)
    new_words = new_words.split(',')
    new_words = [line.replace('"',"").strip().lower() for line in new_words]
    print("daily catch in word count:")
    print(len(new_words))
    
    for line in new_words:   
        vocab['white_listed'].add(line.replace('"',"").strip().lower())

FileNotFoundError: [Errno 2] No such file or directory: '/Users/elyebliss/Desktop/Vocabulary/vocab_dfs/known_french_dad_list.txt'

In [65]:
pp.pprint(len(disallowed_words))

407

In [ ]:
##France24:
print("Checking France24")
parser = 'html.parser'  # or 'lxml' (preferred) or 'html5lib', if installed
request=urllib.request.Request('https://www.france24.com/fr/info-en-continu/',None,headers)
resp = urllib.request.urlopen(request)
soup = bs4.BeautifulSoup(resp, parser, from_encoding=resp.info().get_param('charset'))

pages = []
for link in soup.find_all('a', href=True):
    if '/fr/info-en-continu/' in str(link['href']):
        pages.append(urljoin('https://www.france24.com',urllib.parse.quote(link['href'].encode('UTF-8'))))


#pages=["https://www.france24.com/fr/europe/20210607-tests-pass-sanitaire-comment-s-organise-l-europe-pour-accueillir-les-touristes"]
for webpage in pages:

    try:
        request=urllib.request.Request(webpage,None,headers) #The assembled request
        response = urllib.request.urlopen(request)
        data = response.read()
        contents = text_from_html(data).lower().split()

        frenchContents = set()
        for item in contents:
            if item.isalpha():
                frenchContents.add(item)
        
        
        print(len(frenchContents.difference(vocabSet)))

        if (len(frenchContents)>0) & (len(frenchContents.difference(vocabSet))<=120):
            
            withinLvl.write(str(webpage)+"\t"+str(len(frenchContents.difference(vocabSet)))+"\n")
            for word in frenchContents.difference(vocabSet):
                withinLvl.write("\t"+str(word))
                try:
                    withinLvl.write("\t"+str(gs.translate(word,'en')))
                except:
                    pass
                withinLvl.write("\n")
            print(webpage)
            print(frenchContents.difference(vocabSet))

                
        #print(webpage)
        
            
    except:
        pass
"""

In [117]:
"""
to do:

"""

In [49]:
##INPUT-OUTPUT
#vocab list:
with open("/Users/elyebliss/Desktop/Vocabulary/vocab_dfs/dad_whitelisted.csv","r") as infile:
    whitelisted_lemmas = infile.read()


##VARIABLES
vocab_all = set()
gs = goslate.Goslate()

default_conjugator = mlconjug3.Conjugator(language='fr')


for line in whitelisted_lemmas.split('\n'):
    if len(line) > 0:
        #print(line)
        vocab = line.lower().strip()
        vocab_all.add(vocab)
        try:
            #if it's an infinitive, add all conjurgations
            test_verb = default_conjugator.conjugate(vocab)
            all_conjugated_forms = test_verb.iterate()
            for item in all_conjugated_forms:
                
                vocab_all.add(item[len(item)-1])
                
            
        except:
            #might be a noun, add plural
            vocab_all.add(add_noun(vocab))
#len(whitelisted_lemmas.split('\n'))            
#pp.pprint(vocab_all)

In [83]:
vocab = {}
vocab['white_listed'] = list(vocab_all)
vocab['black_listed'] = []

In [27]:
#used for creating eb data

with open(path+'eb_unk_lemmas.csv','r') as infile:
    eb_unk_lemmas = pd.read_csv(infile)
with open(path+'eb_unk_morph.csv','r') as infile:
    eb_unk_morph = pd.read_csv(infile)
    
eb_unk = {}
for word in eb_unk_lemmas.lemme:
    eb_unk[word] = []

    for index, row in eb_unk_morph.iterrows():
        if row.lemme == word:
            eb_unk[word].append(row.ortho)
eb_unk_mo = {}
for lemma in eb_unk.keys():
    for morph in eb_unk[lemma]:
        eb_unk_mo[morph] = lemma

In [147]:
eb_learned = {}
eb_unk_examples = {}
for word in eb_unk.keys():
    eb_unk_examples[word] = []

In [130]:
#restore to backups
eb_learned = eb_learned_backup
eb_unk = eb_unk_backup
eb_unk_mo = eb_unk_mo_backup
eb_unk_examples = eb_unk_examples